<p-messages [(value)]="msgs"></p-messages>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="text-center mt-3">
  <h1 class="bg-faded">LISTA DE USUARIOS</h1>
</div>
<div class="text-right mr-5 mb-5">
  <button pButton icon="pi pi-plus" label="Agregar" routerLink="/crear"></button>
</div>


<p-table [value]="personas" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr class="w-100">
      <th>ID</th>
      <th>NOMBRE</th>
      <th>APELLIDO</th>
      <th class="w-25">EMAIL</th>
      <th>IP</th>
      <th>EDITAR</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-personas>
    <tr class="w-100">
      <td>{{personas.id}}</td>
      <td>{{personas.nombre}}</td>
      <td>{{personas.apellido}}</td>
      <td class="w-25">{{personas.email}}</td>
      <td>{{personas.ip}}</td>
      <td>
        <button pButton icon="pi pi-trash" class="btn btn-primary"
          (click)="confirmarEliminar(personas.id, personas.nombre)"></button>
        <button pButton icon="pi pi-pencil" class="btn btn-primary" [routerLink]="['/crear', personas.id]"></button>
      </td>
    </tr>
  </ng-template>
</p-table>