<p-messages [(value)]="msgs"></p-messages>
<script>
    AOS.init();
  </script>
<div class="container">
    <button class="btn btn-primary m-5"
    routerLink="/listar"
    >Volver</button>

<div class="text-center">
  <h1 class="mb-5">INGRESO DE PERSONAS</h1>
</div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- FORMULARIO -->
      <form [formGroup]="form">

        <!-- NOMBRE -->
        <div class="form-group">
          <input formControlName="nombre"
                 type="text" 
                 class="form-control"
                 placeholder="Nombre">
            <p-message *ngIf="form.get('nombre').hasError('required')"
            severity="warn" text="Este campo es requerido"></p-message>
            <p-message *ngIf="form.get('nombre').hasError('minlength') || form.get('nombre').hasError('maxlength')"
                        severity="warn" 
                        text="La cantidad de caracteres es inválido"></p-message>
            <p-message *ngIf="form.get('nombre').hasError('pattern')"
                        severity="warn" text="Ingresa solamente letras"></p-message>
        </div>

        <!-- APELLIDO -->
        <div class="form-group">
            <input formControlName="apellido"
                   type="text" 
                   class="form-control"
                   placeholder="Apellido">
              <p-message *ngIf="form.get('apellido').hasError('required')"
              severity="warn" text="Este campo es requerido"></p-message>
              <p-message *ngIf="form.get('apellido').hasError('minlength') || form.get('apellido').hasError('maxlength')"
                          severity="warn" 
                          text="La cantidad de caracteres es inválido"></p-message>
              <p-message *ngIf="form.get('apellido').hasError('pattern')"
                          severity="warn" text="Ingresa solamente letras"></p-message>
          </div>

          <!-- EMAIL -->
        <div class="form-group">
            <input formControlName="email"
                   type="text" 
                   class="form-control"
                   placeholder="Email">
              <p-message *ngIf="form.get('email').hasError('required')"
              severity="warn" text="Este campo es requerido"></p-message>
              
              <p-message *ngIf="form.get('email').hasError('pattern')"
                          severity="warn" text="Formato de correo inválido"></p-message>
          </div>

          <!-- IP -->
        <div class="form-group">
            <input formControlName="ip"
                   type="text" 
                   class="form-control"
                   placeholder="Ip 255.255.255.255">
              <p-message *ngIf="form.get('ip').hasError('required')"
              severity="warn" text="Este campo es requerido"></p-message>
              
              <p-message *ngIf="form.get('ip').hasError('pattern')"
                          severity="warn" text="Formato incorrecto de IP "></p-message>
          </div>

          


        <button (click)="guardar()"
                class="btn btn-primary">Guardar</button>
      </form>


    </div>
    <div class="col-md-3"></div>
  </div>
</div>